<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The PackageKit Project</vendor>
  <vendor_url>http://www.packagekit.org/</vendor_url>
  <icon_name>package-x-generic</icon_name>
  <action id="org.freedesktop.packagekit.clear-offline-update">
    <description>Clear offline update message</description>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/gnome-settings-daemon-3.0/pk-clear-offline-update</annotate>
  </action>
</policyconfig>
